<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>piece/apple03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/apple05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/apple10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,576},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,667},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,758},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,849},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area12.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,303},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area13.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area14.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,91},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/area15.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,182},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb01.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,394},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb02.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,485},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb03.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,576},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb04.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,667},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb05.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,758},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb41.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,849},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb42.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,273},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb43.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb44.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,91},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb45.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,182},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/drop01.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,364},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/enemy01.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,455},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/enemy02.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,546},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/enemy03.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,637},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,728},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/grass_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,819},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/jail01.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,910},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/lock01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,940},{61,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,85}</string>
			</dict>
			<key>piece/notfall.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,273},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/piece01.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/piece02.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,91},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/piece03.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,182},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/piece04.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,364},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/piece05.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,455},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/rock11.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,546},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/rock12.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,637},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/rock13.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,728},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/rock14.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,819},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/rock15.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,910},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb03x.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,273},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb03y.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb04x.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,91},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb04y.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,182},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb05x.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,273},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/bomb05y.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/box01.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,91},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/box02.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,182},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/box03.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,273},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/rock01.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>piece/piece03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>piece/piece04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>piece/piece05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PiecePlist.png</string>
			<key>realTextureFileName</key>
			<string>PiecePlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>